@import "colors";


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: @primary-text-color;
}

::selection {
  background: @blue-color;
  color: white;
}

:invalid { box-shadow: none; }
:-moz-submit-invalid { box-shadow: none; }
:-moz-ui-invalid { box-shadow:none; }

input, textarea {
  font-family: inherit;
}

hr {
  height: 1px;
  background: @lighter-border-color;
  border: none;
  margin: 0;

  &.margin-top { margin-top: 10px; }
  &.margin-bottom { margin-bottom: 10px; }
  &.margin-top-x2 { margin-top: 20px; }
  &.margin-bottom-x2 { margin-bottom: 20px; }
}

a {
  color: @blue-color;
  cursor: pointer;

  &:hover {
    color: @light-blue-color;
  }
}

.hidden { display: none !important; }

.filters {
  &:after {
    content: '';
    clear: both;
    display: block;
  }

  h4 {
    font-size: .9em;
    margin: 0;
  }

  .filter {
    @margin: .5em;

    float: left;
    margin-top: @margin;

    &:not(:last-child) {
      margin-right: @margin;
    }

    .el-form-item {
      margin-bottom: 0;

      .el-form-item__label {
        white-space: nowrap;
      }
    }
  }
}

.values-section {
  margin: 12px 0;
}

.text-right { text-align: right }

.page-center-message {
  color: @info-color;
  text-align: center;
  font-size: 1.15em;
  padding: 200px 0;
}

.buttons-panel {
  position: fixed;
  bottom: 0;
  right: 20px;
  left: 260px;
  height: 60px;
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  cursor: default;
  user-select: none;
  background-color: rgba(255, 255, 255, .85);
  border-top: 1px solid @lighter-border-color;
  font-size: 0;
  z-index: 50;

  a + .el-button {
    margin-left: 10px;
  }
}

.sidebar-collapsed { .buttons-panel { left: 85px;} }

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}



svg {
  &.svg-inline--fa {
    &.btn-margin { margin-right: 7px; }
  }
}



.el-dialog {
  .dialog-footer {
    font-size: 0; // Исправление косяка с пробелами между кнопками

    .el-button {
      margin-top: .25em;
      margin-bottom: .25em;
    }
  }
}

.el-select-dropdown {
  .el-select-dropdown__wrap {
    user-select: none;
  }
}

.el-select {
  .el-input {
    .el-input__inner {
      text-overflow: ellipsis;
    }
  }

  &.custom-disabled {
    .is-disabled {
      .el-input__inner {
        background-color: lighten(@extra-light-border-color, 1%);
        border-color: @lighter-border-color;
        color: @regular-text-color;
        cursor: default;
      }

      .el-input__suffix i { cursor: default; }
    }
  }
}

.el-table {
  .cell {
    word-break: normal !important;

    .el-button {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
    }

    > a {
      display: inline-block;
    }
  }

  .el-table__footer-wrapper {
    font-weight: bold;
  }

  .el-table__empty-text {
    line-height: 30px;
    padding: 1em 0;
  }
}

.el-form {
  &.compact-form {
    .el-form-item {
      .el-form-item__label {
        line-height: 30px;
      }
    }
  }

  .el-form-item {
    .hint {
      margin-top: 7px;
      font-size: 12px;
      color: @secondary-text-color;
      line-height: 16px;
    }
  }
}

.el-form-item {
  .custom-readonly {
    *[readonly],
    .el-input-group__append,
    .el-input-group__prepend {
      pointer-events: none;
      background-color: lighten(@extra-light-border-color, 1%);
      border-color: @lighter-border-color;
      cursor: default;
      color: @regular-text-color;
    }
  }
}

.el-input-number {
  &.compact {
    @width: 100px;

    width: @width;

    input.el-input__inner {
      padding-left: 5px;
      padding-right: 35px;
      width: @width;
    }
  }
}

.el-dropdown-link {
  cursor: pointer;
  color: @blue-color;
  user-select: none;
}

.el-switch {
  .el-switch__label {
    user-select: none;

    &.is-active {
      color: @primary-text-color;
    }

    &:not(.is-active) {
      color: @placeholder-text-color;
    }
  }
}

.el-picker-panel {
  .time-select-item {
    user-select: none;
  }
}

.el-message {
  @media (max-width: 400px) { min-width: 320px; }
}

.el-message-box {
  @media (max-width: 450px) { width: 310px; }
}

.el-date-editor {
  &.el-input {
    max-width: 100%;
  }
}

