@import "colors";


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: @primary-text-color;
}

::selection {
  background: @blue-color;
  color: white;
}

:invalid { box-shadow: none; }
:-moz-submit-invalid { box-shadow: none; }
:-moz-ui-invalid { box-shadow:none; }

input, textarea {
  font-family: inherit;
}

textarea {
  min-height: 60px;
  max-height: 500px;
}

hr {
  height: 1px;
  background: @lighter-border-color;
  border: none;
  margin: 0;

  &.margin-top { margin-top: 10px; }
  &.margin-bottom { margin-bottom: 10px; }
  &.margin-top-x2 { margin-top: 20px; }
  &.margin-bottom-x2 { margin-bottom: 20px; }
}

a, .link {
  color: @blue-color;
  cursor: pointer;

  &:hover {
    color: @light-blue-color;
  }

  &[disabled] {
    color: @placeholder-text-color;
    pointer-events: none;
    user-select: none;
  }
}

.hidden { display: none !important; }

.top-buttons-right {
  @btn-margins: 7px;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: -@btn-margins;

  > * {
    margin-bottom: @btn-margins !important;

    &:not(:first-child) {
      margin-left: @btn-margins !important;
    }
  }
}

.filters {
  @margins: 8px;

  display: flex;
  flex-wrap: wrap;
  margin-top: -@margins;
  margin-right: -@margins;

  &.hide-filters {
    @media (max-width: 479px) {
      .filter {
        display: none;
      }
    }

    @media (min-width: 480px) {
      .show-filters-btn {
        display: none;
      }
    }
  }

  h4 {
    font-size: .9em;
    margin: 0;
  }

  .filter {
    padding-top: @margins;
    padding-right: @margins;

    &.clear-button {
      align-self: flex-end;

      > * {
        margin-top: 10px;
        display: inline-block;
      }
    }

    .el-form-item {
      margin-bottom: 0;

      .el-form-item__label {
        white-space: nowrap;
      }

      .el-radio-group {
        margin-top: -3px; // Иначе переключатель отображается ниже, чем должен
      }
    }
  }

  .show-filters-btn {
    width: 100%;
    margin: 20px @margins 0 0;
  }
}

.values-section {
  margin: 12px 0;
}

.text-right { text-align: right; }

.text-success { color: @success-color; }
.text-error { color: @danger-color; }
.text-warning { color: @warning-color; }
.text-blue { color: @blue-color; }

.page-center-message {
  color: @info-color;
  text-align: center;
  font-size: 1.15em;
  padding: 200px 0;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.right-sidebar {
  @width: 275px;
  @padding: 15px;

  font-size: .9rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: @width;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.875);
  transition: right .25s ease;
  padding: @padding;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

  &:not(.opened) {
    right: -(@width + 5px);
  }

  h1 {
    margin: 0 0 15px 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
  }

  h2 {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
    font-weight: normal;
  }

  section {
    margin: 15px 0;

    .label {
      color: @secondary-text-color;
      font-size: 0.8rem;
      margin-bottom: 4px;
    }
  }

  footer {
    text-align: center;
    position: absolute;
    bottom: @padding;
    left: 0;
    right: 0;
  }
}



svg {
  &.svg-inline--fa {
    &.btn-margin {
      margin-right: 7px;
      vertical-align: -1px;
      margin-bottom: -1px;
    }
  }
}



.el-dialog {
  .el-dialog__header {
    .el-dialog__title {
      display: inline-block;
      min-height: 18px;
    }
  }

  .el-dialog__body {
    word-break: normal;
  }

  .dialog-footer {
    font-size: 0; // Исправление косяка с пробелами между кнопками

    .el-button {
      margin-top: .25em;
      margin-bottom: .25em;
    }
  }
}

.el-select-dropdown {
  .el-select-dropdown__wrap {
    user-select: none;
  }
}

.el-select {
  .el-input {
    .el-input__inner {
      text-overflow: ellipsis;
    }
  }

  &.custom-disabled {
    .is-disabled {
      .el-input__inner {
        background-color: lighten(@extra-light-border-color, 1%);
        border-color: @lighter-border-color;
        color: @regular-text-color;
        cursor: default;
      }

      .el-input__suffix i { cursor: default; }
    }
  }

  .el-select__tags {
    overflow: hidden;
  }
}

.el-radio-group {
  .el-radio-button {
    user-select: none;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.el-table {
  .el-table__header {
    thead {
      th {
        background-color: @extra-light-border-color;
      }
    }
  }

  .cell {
    word-break: normal !important;

    .el-button {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
    }

    > a {
      display: inline-block;
    }
  }

  .el-table__footer-wrapper {
    font-weight: bold;
  }

  .el-table__empty-text {
    line-height: 30px;
    padding: 1em 0;
  }
}

.el-form {
  &.compact-form {
    .el-form-item {
      .el-form-item__label {
        line-height: 30px;
      }
    }
  }

  .el-form-item {
    .hint {
      margin-top: 7px;
      font-size: 12px;
      color: @secondary-text-color;
      line-height: 16px;
      word-break: normal;
    }
  }
}

.el-form-item {
  .custom-readonly {
    *[readonly],
    .el-input-group__append,
    .el-input-group__prepend {
      pointer-events: none;
      background-color: lighten(@extra-light-border-color, 1%);
      border-color: @lighter-border-color;
      cursor: default;
      color: @regular-text-color;
    }
  }
}

.el-input-number {
  &.compact {
    @width: 100px;

    width: @width;

    input.el-input__inner {
      padding-left: 5px;
      padding-right: 35px;
      width: @width;
    }
  }
}

.el-dropdown-link {
  cursor: pointer;
  color: @blue-color;
  user-select: none;
}

.el-switch {
  .el-switch__label {
    user-select: none;

    &.is-active {
      color: @primary-text-color;
    }

    &:not(.is-active) {
      color: @placeholder-text-color;
    }
  }
}

.el-picker-panel {
  .time-select-item {
    user-select: none;
  }
}

.el-date-picker {
  .el-date-table {
    td {
      &.disabled {
        cursor: default;

        &.current {
          span {
            color: @white-color;
            background-color: @info-color;
          }
        }
      }
    }
  }
}

.el-message {
  @media (max-width: 400px) { min-width: 320px !important; }
}

.el-message-box {
  @media (max-width: 450px) { width: 310px !important; }
}

.el-date-editor {
  &.el-input {
    max-width: 100%;
  }
}

.el-timeline {
  &.huge {
    .el-timeline-item {
      .el-timeline-item__node {
        @size: 24px;

        width: @size;
        height: @size;
        left: -7px;
        top: -5px;
      }

      .el-timeline-item__icon {
        font-size: 15px;
      }
    }
  }

  &.blue {
    .el-timeline-item__node {
      background-color: @blue-color;
    }

    .el-timeline-item__tail {
      border-color: @blue-color;
    }
  }
}

.actions-form-wrap {
  padding-bottom: 45px;
}

.show-if-first:not(:first-child) {
  display: none;
}
